.comp-wrapper--demo-button {
}

.comp-wrapper--demo-button button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #493cff;
  color: #fff;
  border: 2px solid #3f32fd;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}
